/*
 * Globals
 */

:root {
  --purple: #D1C8E1;
  --yellow: #FFF34A;
  --light-green: #8CA54F;
  --orange: #F3BC61;
  --dark-green: #004D2B;
}



/* Links */
a,
a:focus,
a:hover {
  color: black;
  text-decoration: underline;
}

a img.hover {
  display: none;
}
a img.default {
  display: inherit;
}
a:hover img.hover {
  display: inherit;
}
a:hover img.default {
  display: none;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Page Backgrounds */
.agenda {
  background-color: var(--orange) !important;
}

.new-agenda {
  background-color: var(--purple) !important;
}

.homepage {
  animation: colorchange 70 infinite;
  -webkit-animation: colorchange 70s infinite;
}

p {
  font-size: 20px;
  text-align: left;
}

h3, p:not(b){
  font-weight: 200;
}

p b{
  font-weight: 600;
}

b {
  font-weight:800;
}

h1 {
  font-family: 'omnes-pro', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size: 80px;
  line-height: 80%;
  text-align: center;
  color: var(--dark-green);
}

h2 {
  font-weight:800;
  text-align: left;
  font-size: 26px;
}

h3 {
  font-style: italic;
  text-align: left;
  font-size: 20px;
}

h4 {
  font-weight: 700;
  font-size: 25px;
}

hr {
  /* border: 1px solid black; */
  border: 1px dashed var(--dark-green);
}


@keyframes colorchange
    {
      0%   {background: var(--purple);}
      25%  {background: var(--yellow);}
      50%  {background: var(--light-green);}
      75%  {background: var(--orange);}
      100%  {background: var(--purple);}
    }

@-webkit-keyframes colorchange
    {
      0%   {background: var(--purple);}
      25%  {background: var(--yellow);}
      50%  {background: var(--light-green);}
      75%  {background: var(--orange);}
      100%  {background: var(--purple);}
    }



/*
 * Agenda Page
 */
 
.agenda-btn {
  width: 220px;
}

.agenda-divider{
  border: 2.5px solid var(--dark-green);
  width: 500%;
  left: -100%;
  position: relative;
}

.agenda-section {
  margin-bottom: 3rem;
}

.agenda h1, .coming-soon{
  font-size: 2.6rem;
  line-height: 100%;
  text-align: left;
  color: var(--dark-green);
  margin-top: -.65rem;
  margin-bottom: 3rem;
}

.agenda h3 {
  margin-top: -.3rem;
  margin-bottom: 1rem;
  color: var(--dark-green);
  font-size: 18px;
}

.agenda p {
  font-size: 20px;
}

.align-left {
  text-align: left;
}

.back-btn {
  height: 50px;
  top:3rem;
  left:2rem;
  position: fixed;
  z-index: 2;
} 

.img-wide {
  width: 550px;
}

.green {
  color: var(--dark-green);
}

.agenda-color-bar {
  position: fixed;
  width: 100%;
  height: 65px;
  left:0;
  top:0;
  z-index: 1;
  display: none;
}

.agenda-color-bar .new-agenda {
  color: var(--purple);
}

.workshop {
  margin-bottom: 2.25rem;
  text-align: left;
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover-container {
  max-width: 50em;
  width: 100%;
}

.quote p{
  font-size: 18px;
}


/*
 * Footer
 */

.footnote p{
  font-size: 15px;
}

/*
 * Media Queries
 */

@media (max-width: 320px) {
}

@media (max-width: 380px) {
  .agenda-btn {
    width:100%;
  }

  h1, coming-soon{
    font-size: 55px;
  }

  .img-wide {
    width:100%;
  }
}

@media (min-width: 380px) and (max-width: 570px) {
  h1, coming-soon{
    font-size: 60px;
  }
}

@media (max-width: 470px) {
  .footnote p{
    width: 100%;
  }
  
  .img-agenda {
    width: 80%;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }
}

@media (min-width: 470px) {
  .img-agenda {
    width: 240px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

@media (max-width: 570px) {

  .cover-heading {
    font-size: 45px;
    padding-top: 25px;
  }

  .agenda-btn {
    width: 220px;
  }

  .agenda h1, .coming-soon {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p, .agenda p{
    font-size: 18px;
  }

  .quote p {
    font-size: 16px;
  }

  .prereg-btn {
    width: 190px;

  }

  .img-wide {
    width: 250px;
  }
}

@media (min-width: 900px) {
  .agenda h1, .coming-soon{
    margin-top: 1rem;
  }

  p {
    font-size: 22px;
  }

  .quote p {
    font-size: 20px;
  }
}

@media (max-width: 940px) {
  .agenda main{
    margin-top: 65px;
  }

  .agenda-color-bar {
    display: initial;
  }

  .back-btn{
    height: 35px;
    top:1rem;
    left:2.5rem;
    position: fixed;
  }
}

@media (max-width: 1020px) {
  .cover-heading {
    padding-top: 25px;
  }

  .mastfoot {
    flex-direction: column-reverse;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1020px) {
  .mastfoot {
    max-width: 200%;
    bottom:0;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    position: fixed;
  }
}


