/*
 * Globals
 */

:root {
  --pink: #FDCBFF;
  --orange: #FFB964;
  --coral: #FF9581;
  --red: #EE2F14;
}



/* Links */
a,
a:focus,
a:hover {
  color: black;
  text-decoration: underline;
}

a img.hover {
  display: none;
}
a img.default {
  display: inherit;
}
a:hover img.hover {
  display: inherit;
}
a:hover img.default {
  display: none;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  
}

body {
  font-family: Helvetica, sans-serif;
  animation: colorchange 45s infinite;
  -webkit-animation: colorchange 45s infinite;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

p {
  font-size: 20px;
  text-align: left;
}

h1 {
  font-family: 'omnes-pro', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size: 80px;
  line-height: 80%;
  text-align: center;
}

h2 {
  font-weight:800;
  text-align: left;
}

hr {
  border: 1px solid black;
}


@keyframes colorchange
    {
      0%   {background: var(--pink);}
      33%  {background: var(--orange);}
      66%  {background: var(--coral);}
      100%  {background: var(--pink);}
    }

@-webkit-keyframes colorchange
    {
      0%   {background: var(--pink);}
      33%  {background: var(--orange);}
      66%  {background: var(--coral);}
      100%  {background: var(--pink);}
    }



/*
 * Agenda Page
 */

.agenda-divider{
  border: 2px solid var(--red);
}

.agenda-section {
  margin-bottom: 5rem;
}

.agenda-section h1 {
  font-size: 65px;
  line-height: 90%;
  text-align: left;
  color: var(--red);
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.host-text {
  margin-top: -.5rem;
  margin-bottom: 2rem;
}

.workshop {
  margin-bottom: 3rem;
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover-container {
  max-width: 50em;
}


/*
 * Footer
 */

.footnote {
  font-size: 15px;
}

/*
 * Media Queries
 */

@media (max-width: 450px) {
  .cover-heading {
    font-size: 50px;
    padding-top: 25px;
  }
  .img-wide {
    width:100%;
  }

}

@media (max-width: 1020px) {
  .mastfoot {
    flex-direction: column-reverse;
    padding-bottom: 2rem;
  }
  .cover-heading {
    padding-top: 25px;
  }

}

@media (min-width: 1020px) {
  .mastfoot {
    max-width: 200%;
    bottom:0;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    position: fixed;
  }

  .menu {
    max-width: 200%;
    top:0;
    padding-top: 2.5rem;
    padding-left: 1rem;
    position: fixed;
  } 
}


