/*
 * Globals
 */

:root {
  --pink: #FDCBFF;
  --orange: #FFB964;
  --coral: #FF9581;
  --red: #EE2F14;
}



/* Links */
a,
a:focus,
a:hover {
  color: black;
  text-decoration: underline;
}

a img.hover {
  display: none;
}
a img.default {
  display: inherit;
}
a:hover img.hover {
  display: inherit;
}
a:hover img.default {
  display: none;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, sans-serif;
  animation: colorchange 45s infinite;
  -webkit-animation: colorchange 45s infinite;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.agenda {
  background-color: var(--orange) !important;
}

p {
  font-size: 20px;
  text-align: left;
}

h1 {
  font-family: 'omnes-pro', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size: 80px;
  line-height: 80%;
  text-align: center;
}

h2 {
  font-weight:800;
  text-align: left;
  font-size: 26px;
}

h3 {
  font-style: italic;
  text-align: left;
  font-size: 20px;
}

hr {
  border: 1px solid black;
}


@keyframes colorchange
    {
      0%   {background: var(--pink);}
      33%  {background: var(--orange);}
      66%  {background: var(--coral);}
      100%  {background: var(--pink);}
    }

@-webkit-keyframes colorchange
    {
      0%   {background: var(--pink);}
      33%  {background: var(--orange);}
      66%  {background: var(--coral);}
      100%  {background: var(--pink);}
    }



/*
 * Agenda Page
 */

.agenda-divider{
  border: 2px solid var(--red);
  width: 500%;
  left: -100%;
  position: relative;
}

.agenda-section {
  margin-bottom: 3.5rem;
}

.agenda h1 {
  font-size: 3rem;
  line-height: 100%;
  text-align: left;
  color: var(--red);
  margin-top: -.65rem;
  margin-bottom: 3rem;
}

.agenda h3 {
  margin-top: -.3rem;
  margin-bottom: 0.5rem;
}

.agenda p {
  font-size: 20px;
}

.back-btn {
  height: 50px;
  top:3rem;
  left:2rem;
  position: fixed;
  z-index: 2;
} 

.img-wide {
  width: 300px;
}

.agenda-color-bar {
  position: fixed;
  width: 100%;
  height: 65px;
  left:0;
  top:0;
  z-index: 1;
  display: none;
}

.prereg-btn {
  width: 225px;
  margin-bottom: 0.5rem;
}

.workshop {
  margin-bottom: 2.25rem;
  text-align: left;
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover-container {
  max-width: 50em;
  width: 100%;
}


/*
 * Footer
 */

.footnote {
  font-size: 15px;
}

/*
 * Media Queries
 */

@media (max-width: 320px) {
  .prereg-btn {
    width:100%;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 55px;
  }

  .img-wide {
    width:100%;
  }
}

@media (min-width: 380px) and (max-width: 570px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 570px) {

  .cover-heading {
    font-size: 45px;
    padding-top: 25px;
  }

  .agenda h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p, .agenda p {
    font-size: 16px;
  }

  .prereg-btn {
    width: 190px;
  }

  .img-wide {
    width: 250px;
  }
}

@media (min-width: 900px) {
  .agenda h1{
    margin-top: 1rem;
  }

  p {
    font-size: 22px;
  }
}

@media (max-width: 940px) {
  .agenda-color-bar {
    display: initial;
  }

  .back-btn{
    height: 35px;
    top:1rem;
    left:2.5rem;
    position: fixed;
  }
}

@media (max-width: 1020px) {
  

  .cover-heading {
    padding-top: 25px;
  }

  .mastfoot {
    flex-direction: column-reverse;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1020px) {
  .mastfoot {
    max-width: 200%;
    bottom:0;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    position: fixed;
  }
}


